@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.box{
    @apply w-full px-3 py-2 mt-0 border border-gray-800 rounded
}
